@media screen and (max-width: 450px) {
    .three>h3 {
        font-size: 48px;
    }
    .word {
        font-size: 18px;
    }
    #paging{
    	padding: 0;
        margin: 0;
    }
    /***********************************************************/
    /************************          *************************/
    /************************  內容圖   *************************/
    /************************          *************************/
    /***********************************************************/
    #main-part img {
        width: 80%;
    }
    #main-part>ul>li:nth-child(odd) {
        margin-left: 0;
    }
    #main-part>ul>li:nth-child(even) {
        margin-right: 0;
    }
    #main-part>ul>li>div {
        display: block;
    }
    #main-part>ul>li>div>h5 {
        margin: 2%;
        margin-bottom: 5%;
        font-size: 16px;
    }
    #main-part li {
        opacity: 1;
    }
    /***********************************************************/
    /************************          *************************/
    /************************  footer   *************************/
    /************************          *************************/
    /***********************************************************/
    #footer h3 {
        font-size: 14px;
    }
    #footer p {
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    /***********************************************************/
    /************************          *************************/
    /************************  相關網站 *************************/
    /************************          *************************/
    /***********************************************************/
    #related {
        padding: 3% 15% 3% 15%;
    }
    #related>div>a>p {
        font-size: 12px;
    }
    .none {
        display: none;
    }
}
