body{
	min-width: 220px;
	background-color: rgb(249, 237, 228);
}
a{
	text-decoration: none;
}
/*********bar********/
.fixed{
	position: fixed;
	top:0;
	right:0;
	left:0;
	z-index: 5;
}
.active{
	border:1px solid #E7754A;
}
#bar{
	display: flex;
	background-color: rgb(37,37,38);
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}
#logo{
	flex: 1;
	padding-left:10%; 
	width: 60%;
}
#logo>img{
	height: 32px;
}
#paging{ 
	flex: 5;
	text-align: right;
	list-style-type:none; 
	margin-right: 10%;
	margin-bottom: 0;
}
#paging>li{
	display: inline-block;
	margin-left:5%;
	/*background-color: rgb(37,37,38)*/
}
#paging>li>a{

	color: black;
	width: 100%;
}
/***********bar上面的小icon********/
#paging>li>a>img{
	width: 32px;
}


/***********************************************************/
/*******************                  **********************/
/*******************   最上面的大圖     **********************/
/*******************                  **********************/
/***********************************************************/
.three{
	
	/*background-color: white;*/
	position: relative;
	text-align: center;
	/*height: 300px;*/
}
.three>h3{
	color: white;
	padding:13%;
	margin: 0;
}
.three>img{
	position: relative;
	/*left:;*/
	/*margin: auto;*/
	bottom: 0px;
}
#foodThree{
	background-image:url('../img/tran.jpg');
	background-size: cover;
}
#drinkThree{
	background-image:url('../img/tran04.png');
	background-size: cover;
}
#mapThree{
	background-image:url('../img/tran05.png');
	background-size: cover;
}

/***********************************************************/
/************************          *************************/
/************************    內容   *************************/
/************************          *************************/
/***********************************************************/


/**************文字******************/
.word{
	font-size: 24px;
	margin: 3% 5% 3% 5%;
	text-align: center;
}
/**************圖案*****************/
#main-part{
	width: 70%;
	text-align: center;
	margin: auto;
}
#main-part li{
	list-style: none;
	position: relative;
	opacity:0;
}
#main-part img{
	/*padding: 5%;*/
	width: 70%;
	height: 70%;
}
#main-part>ul>li:nth-child(odd){
	margin-left: -10%;
}
#main-part>ul>li:nth-child(even){
	margin-right: -10%;
}
#main-part>ul>li:nth-child(odd)>div>h5{
	text-align: left;
}
#main-part>ul>li:nth-child(even)>div>h5{
	text-align: right;
}
#main-part>ul{
	padding: 0px;
}
#main-part>ul>li>div{
	display: flex;
}
#main-part>ul>li>div>a{
	flex: 1;
}
#main-part>ul>li>div>h5{
	flex: 1;
	margin-top:15%; 
}

/***********************************************************/
/************************          *************************/
/************************  相關網站 *************************/
/************************          *************************/
/***********************************************************/
#related{
	display: flex;
	background-color: rgb(37,37,38);
	padding:3% 15% 3% 15%;
	margin-top: 10%;
}
#related>div{
	flex:1;
	margin: 0 2%;
	border-radius: 3%;
	text-align: center;
	padding: 2%;
	border: 1px solid rgb(86,86,86);
}
#related img{
	width: 100%;
}
#related p{
	padding-top: 5%;
	margin: 0;
	color: rgb(86,86,86);
	font-size: 16px;
}
.outward>a>p:hover{
	text-decoration: none;
}

/***********************************************************/
/************************          *************************/
/************************  footer  *************************/
/************************          *************************/
/***********************************************************/
footer{
	background-color: rgb(37,37,38);
	color: rgb(86,86,86);
	text-align: center;
	padding-bottom: 2%;
}
footer h3{
	padding: 3%;
	margin: 0;
}
footer p{
	margin: 0;
}