a{
	text-decoration: none;
	/*font-size: 50px;*/
}
/*********bar********/
#bar{
	display: flex;
}
#icon{
	width: 70%;
}


#three{
	background-image:url('../img/tran.jpg');
	background-size: cover;
	background-color: white;
	position: relative;
	text-align: center; 
}
#three>h3{
	
	color: white;
	padding-top:10%;
	/*margin-bottom: 190px;*/
}
#three>img{
	position: relative;
	/*left:;*/
	/*margin: auto;*/
	bottom: 0px;
}

.word{
	margin: 5% 5% 5% 5%;
	text-align: center;
	font-family: 漢儀長美黑;
}



#transition_content{
	display: flex;
	margin-top: 5%;
}
#main-part{
	width: 70%;
	/*height: 800px;*/
	text-align: center;
	margin: auto;
}
#main-part li{
	list-style: none;
	position: relative;
	display: none;
	/*display: flex;*/
}
#main-part img{
	width: 80%;
}
#main-part>ul>li:nth-child(odd){
	/*float: left;*/
	/*text-align: left;*/
}
#main-part>ul>li:nth-child(even){
	/*text-align: right;*/
}
#main-part>ul{
	padding: 0px;
}
#main-part>ul>li>div{
	display: flex;
}
#main-part>ul>li>div>a{
	flex: 1;
}
#main-part>ul>li>div>h5{
	flex: 1;
	margin-top:15%; 
}



footer{
	/*display: ;*/
}
footer>div{
	background-color: grey;
}
footer a{
	color: white;
	padding-left:100px;
	padding-right:100px;
	text-align: center;
}

/*各物介紹頁*/
#button>button{
	width: 100px;
	border-radius:10px;
	background-color: black;
	color: white;
	border: 0;
	margin: 3%;
}
#button>button>p{
	margin: 8px;
}
#store-map{
	display: none
}